<footer>
    <div class="footer">
      <div class="footer-text">
        <div class="footer-title-wrap"><a href="/">
            <h3 class="site-title">टीकालोक:</h3></a></div>
        <div class="footer-text-column-1">
          <nav class="footer">
          <div class="social-wrap">
          <a class="link" href="https://github.com/tiikaaloka" target="_blank">
                <span class="fa fa-github"></span>
            </a>
            <a class="link" href="https://twitter.com/RepublishB" target="_blank">
                <span class="fa fa-twitter"></span>
            </a>
            <a class="link" href="mailto:j@tiikaaloka.org">
                <span class="contact-option-icon fa fa-envelope"></span>
            </a>
          </div>
          </nav>
          <span class="copyright">
          GNU Free Documentation License v1.3 
          </span>
          <span class="copyright">
          <a href="/terms">Terms</a>
          </span>
          <span class="copyright">
          <a href="/privacy">Privacy</a>
          </span>
        </div>
      </div>
      </div>
</footer>