@import 'src/styles.scss';

.footer {
	// //min-height:450px;
	// clear:both;
	
	// padding:10px 0;
	// text-align:center;
	// width:100%;
	// position:relative;

	position: absolute;
	background-color:rgba(30,30,30,1);
	color:$light;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px 0;
	text-align: center;
  }


	a {
		color:$light;
		&:hover{
			color:$light;
		}
	}


	.footer-text {
		margin:10px auto;
		display:inline-block;

		.site-title {
			@include font-accent(40px);
			margin:20px 0 0px 0px;
			padding:0;
		}

		.footer-text-column-1, .footer-text-column-2 {
			margin-top:20px;
			margin-bottom: 20px;
		}

		.footer-text-column-1 {
			p {
				color:$primary;
			}
			a {
				color:$light;
				&:hover {
				}
			}
			nav.footer {
				ul {
					padding:0;
					margin:0 0 0 0;
					li {
						display:inline-block;
						a {
							display:block;
							margin:5px;
							padding:20px;
							font-size:22px;
							&:hover {
								color:$light-1;
							}
						}
					}
				}
			}
		}
		.footer-text-column-2 {
			.social-wrap {
				margin:10px 0;
				padding:0;
				span {
					color:$primary;
					font-size:24px;
					padding:10px;
					&:hover {
						color:$blue-bright;
					}
				}
			}
		}
		.copyright {
			clear:both;
			display:block;
			color:$primary;
			font-size:14px;
			margin-bottom:10px;
			a {
				color:$light;
				&:hover {
					text-decoration:none;
				}

			}
		}
	}

@import "src/responsive.scss";


