<footer>
      <div class="footer-text">
        <div class="footer-title-wrap"><a href="/">
            <h3 class="site-title">टीकालोक:</h3></a></div>
        <div class="footer-text-column-1">
          <nav class="footer">
            <p>Error on this page?  Help us out by <a href="https://github.com/tiikaaloka/tl-fe/issues/new" target="_blank">reporting it!</a></p>
          </nav>
        </div>
        <div class="footer-text-column-2">
          <div class="social-wrap">
            <a href="https://github.com/tiikaaloka" target="_blank">
                <span class="fa fa-github"></span>
            </a>
            <a href="https://twitter.com/RepublishB" target="_blank">
                <span class="fa fa-twitter"></span>
            </a>
            <a href="mailto:j@tiikaaloka.org">
                <span class="contact-option-icon fa fa-envelope"></span>
            </a>
          </div>
        </div><span class="copyright">
          Copyright Tiikaaloka, 2020.
          </span>
      </div>
</footer>