<div class="grid primary">
      <div class="content primary">
        <div class="content-wrap">
          <div class="block header-block">
            <div class="headline-image">
              <div class="headline-image-screen">
                <div class="grid inner">
                <div id="features" class="block features-block">
                        <div class="yuddha f1">
                        <div class="feature-image-screen"></div>
                        <div class="feature-inner">
                        <article>
<div>
<h3>श्रीमद्वाल्मीकिरामायणं तिलकटीकोपेतम् । युद्धकाण्डम्, ००१ सर्गः<br/></h3>
श्लोकः<br/>
श्रुत्वा हनूमतो वाक्यं यथावदभिभाषितम् ।
रामः प्रीतिसमायुक्तो वाक्यमुत्तरमब्रवीत् ॥ १ ॥<br/>


टीका<br/>
युद्धे रक्षोगणान्हत्वा पुष्पकेण निजां पुरीम् ।
सीतया सह चागत्य रेजे रामोऽभिषेचितः॥ १ ॥<br/>

एवं हनूमतः सकाशात्सीतावृत्तान्तं श्रुत्वा कृतकार्ये भृत्ये स्वामिन उचितां वृत्तिं लोकेभ्य उपदेष्टुं हनुमन्तमस्तौषीदित्याह-श्रुत्वेति । उत्तरं प्रियश्रवणोत्तरकालयोग्यम् ॥ १ ॥<br/>

श्लोकः<br/>
कृतं हनूमता कार्यं सुमहद्भुविदुर्लभम् । 
मनसापि यदन्येन न शक्यं धरणीतले ॥ २ ॥<br/>

टीका<br/>
भुवि दुर्लभं भूलोके दुःखेन लभ्यं यद्वस्तु सीतारूपं तद्विषयं यत्कार्यमन्वेषणरूपं तद्धनूमता कृतं यद्धरणीतलेऽन्येन मनसापि न शक्यम् । कर्तुमिति शेषः । अत एव दुर्लभत्वमुकम् ॥ २ ॥<br/>

श्लोकः<br/>
नहि तं परिपश्यामि यस्तरेत महोदधिम् । 
अन्यत्र गरुडाद्वायोरन्यत्र च हनूमतः ॥ ३ ॥<br/>

टीका<br/>
अन्याशक्यत्वमेवाह -- नहीति ॥ ३ ॥<br/>

श्लोकः<br/>
देवदानवयक्षाणां गन्धर्वोरगरक्षसाम् । 
अप्रधृष्यां पुरीं लङ्कां रावणेन सुरक्षिताम् ॥  ४ ॥<br/>

टीका<br/>
देवदानवयक्षाणामिति करणे शेषत्वेन विवक्षिते षष्ठी ॥ ४ ॥<br/>

श्लोकः<br/>
प्रविष्टः सत्त्वमाश्रित्य जीवन्को नाम निष्क्रमेत् । 
को विशेसुदुराधर्षां राक्षसैश्च सुरक्षिताम् ॥ ५ ॥<br/>

टीका<br/>
तां प्रविष्टो निष्क्रमेत्पुनः स्वदेशमागच्छेत् । प्रवेशोऽपि दुर्लभ इत्याह -- क इति । यो हनूमतः समो न स्यात्स को विशेदित्यन्वयः ॥ ५ ॥ <br/>

श्लोकः<br/>
यो वीर्यबलसंपन्नो न समः स्याद्धनूमतः । 
भृत्यकार्यं हनुमता सुग्रीवस्य कृतं महत् । 
एवं विधाय स्वबलं सदृशं विक्रमस्य च ॥ ६ ॥<br/>

टीका<br/>
विक्रमस्य सदृशं स्वबलं स्वबलकार्यं समुद्रलङ्घनलङ्काप्रवेशरूपं विधाय हनूमता महदुक्तादधिकमपि सुग्रीवस्य भृत्यकार्यं सुप कार्यं सीतादर्शनवनभङ्गादिरूपं कृतम् ॥ ६ ॥<br/>

श्लोकः<br/>
यो हि भृत्यो नियुक्तः सन्भर्त्रा कर्मणि दुष्करे । 
कुर्यात्तदनुरागेण तमाहुः पुरुषोत्तमम् ॥ ७ ॥<br/>

टीका<br/>
हनूमतो भृत्योत्तमत्वं दर्शयितुमुत्तमादिभृत्यानां | लक्षणान्याह -- यो हीति । यो भृत्यो भर्त्रा दुष्करे कर्मणि नियुक्तस्तत्कार्यं कृत्वा तदनुरागेणोक्तकार्याविरोधेन कार्यान्तरमपि कुर्यात्तं पुरुषोत्तमं भृत्यपुरुषेषु श्रेष्ठमाहुः ॥ ७ ॥<br/>

श्लोकः<br/>
यो नियुक्तः परं कार्यं न कुर्यान्नृपतेः  प्रियम् । 
भृत्यो युक्तः समर्थश्च तमाहुर्मध्यमं नरम् ॥ ८ ॥<br/>

टीका<br/>
यस्तु युक्तो बुद्ध्या समर्थश्च सन्परं स्वामिसंदिष्टादधिकं नृपतेः प्रियं न कुर्यात्किन्तु सन्दिष्टमेव कुर्यात्तं मध्यममाहुः । 'भृत्यस्तु यः परं कार्यं न कुर्यान्नृपतेः प्रियम् । भृत्योभृत्यः समर्थोपि तमाहुर्मध्यमं नरम् ॥' इति पाठे यः समर्थाऽपि भृत्यः परं कार्यं न कुर्यात्स भृत्य उक्तमात्रकरणादधिकाकरणाच्चाभृत्यः, अतस्तं मध्यममाहुः ॥ ८ ॥<br/>

श्लोकः<br/>
नियुक्तो नृपतेः कार्ये न कुर्याद्यः समाहितः । 
भृत्यो युक्तः समर्थश्च तमाहुः पुरुषाधमम् ॥ ९ ॥<br/>

टीका<br/>
यो नियुक्तो नृपतेरुक्तमपि कार्यं न कुर्यात्तमधममाहुः ॥ ९ ॥<br/>

श्लोकः<br/>
तन्नियोगे नियुक्तेन कृतं कृत्यं हनूमता । 
न चात्मा लघुतां नीतः सुग्रीवश्चापि तोषितः॥ १० ॥<br/>

टीका<br/>
अथ हनूमत उत्तमत्वं दर्शयति -- तदिति । नियोगे सीतान्वेषणमात्रे । कृत्यमधिकमपि कृत्यं कृतम् । अत उत्तमभृत्योऽयमिति भावः । उत्तमत्वे युक्त्यन्तरमप्याह -- न चात्मेति । रक्षोभिरपराजितत्वात् । सुग्रीवश्चापि तोषितः । अधिककार्यकरणादित्यर्थः ॥ १० ॥<br/>

श्लोकः<br/>
अहं च रघुवंशश्च लक्ष्मणश्च महाबलः ।
वैदेह्या दर्शनेनाद्य धर्मतः परिरक्षिताः ॥ ११ ॥<br/>

टीका<br/>
धर्मतः । धर्मं प्राप्येत्यर्थः । एतेन स्वाम्याज्ञापालनेन भृत्यस्य धर्मोपि सूचितः । मदादयोपि परिरक्षिताः । समाचारलाभेन मन्नाशो मन्नाशाच्च लक्ष्मणभरतादीनां च नाश इति सर्वनाशप्रसङ्ग इति भावः ॥ ११ ॥<br/>

श्लोकः<br/>
इदं तु मम दीनस्य मनो भूयः प्रकर्षति ।
यदिहास्य प्रियाख्यातुर्न कुर्मि सदृशं प्रियम् ॥ १२ ॥<br/>

टीका<br/>
एवं हनूमत्कर्मणः सुखजनकत्वेऽपि तत्प्रत्युपकाराकरणजो विषादः सीताश्रवणजमानन्दमपि तिरोधाय मां संतापयतीत्याह -- इदं त्विति न कुर्मि न करोमि । सदृशं एतत्कृतप्रियसदृशं प्रियम् ॥ १२॥<br/>


श्लोकः<br/>
एष सर्वस्वभूतस्तु परिष्वङ्गो हनूमतः ।
मया कालमिमं प्राप्य दत्तस्तस्य महात्मनः॥ १३ ॥<br/>

टीका<br/>
तत्तुल्यप्रियान्तरमपश्यन्नात्मपरिष्वङ्गमेव तथापश्यनाह -- एष इति । सर्वस्वभूतः। भगवद्देहस्य शुद्धानन्दरूपत्वात्स्वालिङ्गनस्य सर्वस्वभूतत्वं बोध्यम् । 'आनन्द एव हि भगवतः सर्वस्वम् । आनन्द एव हि मायया रामादिदेहत्वेन भासते' इति गीता भाष्यविष्णुसहस्रनामभाष्ययोर्भगवत्पादैः स्पष्टमेवोक्तम् । ब्रह्माण्डपुराणादिषु चैवं परिष्वङ्गद्वारा ब्रह्मानन्दार्पणमेव हनूमते कृतमिति बोधितम् । तस्य हनुमत उत्तमभृत्यस्य हनूमतः ॥ १३ ॥<br/>


श्लोकः<br/>
इत्युक्त्वा प्रीतिहृष्टाङ्गो रामस्तं परिषस्वजे ।
हनूमन्तं कृतात्मानं कृतवाक्यमुपागतम् ॥ १४ ॥<br/>

टीका<br/>
प्रीतिहृष्टाङ्गः प्रीतिपुलकितगात्रः । हनूमन्तमित्यादिपूर्वान्वयि ॥ १४ ॥<br/>


श्लोकः<br/>
ध्यात्वा पुनरुवाचेदं वचनं रघुसत्तमः ।
हरीणामीश्वरस्यापि सुग्रीवस्योपशृण्वतः॥ १५ ॥<br/>

टीका<br/>
ध्यात्वा । समुद्रतरणं कथं स्यादिति संचिन्त्येत्यर्थः । सुप्रीवस्येति सप्तम्यर्थे षष्टी । शृण्वति सत्यु वाचेत्यन्वयः ॥ १५॥<br/>


श्लोकः<br/>
सर्वथा सुकृतं तावत्सीतायाः परिमार्गणम् ।
सागरं तु समासाद्य पुनर्नष्टं मनो मम ॥ १६ ॥<br/>

टीका<br/>
सुकृतम् । अधिकस्यापि करणादित्यर्थः । समासाद्य दुस्तरत्वमालोच्य । पुनर्नष्टं सीतावृत्तान्तश्रवणेन हृष्टमपि पुनर्विषादं प्राप्तम् ॥ १६ ॥<br/>

श्लोकः<br/>
कथं नाम समुद्रस्य दुष्पारस्य महाम्भसः ।
हरयो दक्षिणं पारं गमिष्यन्ति समागताः॥ १७ ॥<br/>

टीका<br/>
समागता मिलिताः ॥ १७॥<br/>


श्लोकः<br/>
यद्यप्येष तु वृत्तान्तो वैदेह्या गदितो मम ।
समुद्रपारगमने हरीणां किमिवोत्तरम् ॥ १८ ॥<br/>

टीका<br/>
किं चैष वितर्को न ममैव, किं तु सीताया अपीत्याह -- यद्यपीति । यद्यपीत्यप्यर्थे । एष तु वृत्तान्तो मम वैदेह्यायापि गदितः, अतो हरीणां पारगमने किमिवोत्तरम् । उत्तरकालोचितं कर्म किमित्यर्थः ॥ १८ ॥ <br/>

श्लोकः<br/>
इत्युक्त्वा शोकसंभ्रान्तो रामः शत्रुनिबर्हणः ।
हनूमन्तं महाबाहुस्ततो ध्यानमुपागमत् ॥ १९ ॥<br/>

टीका<br/>
शोकसंभ्रान्तः । ज्ञातेऽपि सीतावृत्तान्ते तत्प्राप्तिप्रतिबन्धपर्यालोचनया कलुषितान्तःकरण इत्यर्थः । ध्यानं ध्यानमिव तरणोपायविषयचिन्तामिव ॥१९॥<br/>


इति श्रीरामाभिरामे श्रीरामीये रामायणतिलके वाल्मीकीय आदिकाव्ये युद्धकाण्डे प्रथमः सर्गः ॥१॥<br/>

इत्यार्षे श्रीमद्रामायणे वाल्मीकीय आदिकाव्ये युद्धकाण्डे प्रथमः सर्गः ॥ १॥ <br/>
</div>
</article>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
</div>