<div class="grid primary">
      <div class="content primary">
        <div class="content-wrap">
          <div class="block header-block">
            <div class="headline-image">
              <div class="headline-image-screen">
                <div class="grid inner">
                <div id="features" class="block features-block">
                        <div class="adhyayanam f1">
                        <div class="feature-image-screen"></div>
                        <div class="feature-inner">
                            <a href="/dhaatukaarika">धातुकारिका</a><br/>
                            <a href="/yuddha">श्रीमद्वाल्मीकिरामायणस्य युद्धकाण्डम्</a><br/>   
                            <a href="/suvarnachashaka">श्री कृष्णकर्णामृतम् - सुवर्णचषकटीकयोपेतम्</a>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
</div>