<div class="grid primary">
      <div class="content primary">
        <div class="content-wrap">
          <div class="block header-block">
            <div class="headline-image">
              <div class="headline-image-screen">
              <div class="grid button">
              <!--<button id="save" *ngIf="isEdited" (click) = "save()">Save Changes</button>-->
              </div>
                <div class="grid inner">
                  <div *ngFor="let item of dhAtus">
                    <div>
                      <p>धातु: - {{item.dhAtu}}</p>
                    </div>
                  </div>
                    <!--<div *ngFor="let item of grantha">
                      <div>
                        <h4>श्लोक:</h4>
                        <p contenteditable (input)="onShlokaChange($event.target.innerHTML, item.num)">{{item.shloka}}</p>
                      </div>
                      <div>
                        <h4>टीका</h4>
                        <p style="text-align:justify" contenteditable (input)="onTiikaChange($event.target.innerHTML, item.num)">{{item.tiika}}</p>
                      </div> -->
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>