<div class="grid primary">
      <div class="content primary">
        <div class="content-wrap">
          <div class="block header-block">
            <div class="headline-image">
              <div class="headline-image-screen">
                <div class="grid inner">
                <div id="features" class="block features-block">
                        <div class="donate f1">
                        <div class="feature-image-screen"></div>
                        <div class="adhyayanam-inner">
                            Donate to us via NEFT/UPI<br/>
                            Account Holder: M/s Bhargava Dhvajini<br/>
                            Account Number: 392002010020066<br/>
                            Bank: Union Bank of India<br/>
                            Branch: Malleswaram, Bangalore 560003.<br/>
                            IFSC code: UBIN0539201.<br/>
                            MICR code: 560026006.<br/>
                        </div>
                        <div class="adhyayanam-inner">
                            <a href="https://rzp.io/l/2WMpfgJbEx">Donate through RazorPay</a>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
</div>