<div class="grid primary">
      <div class="content primary">
        <div class="content-wrap">
          <div class="block header-block">
            <div class="headline-image">
              <div class="headline-image-screen">
                <div class="grid inner">
                <div id="features" class="block features-block">
                        <div class="donate f1">
                        <div class="feature-image-screen"></div>
                        <div class="adhyayanam-inner">
                            <a href="https://rzp.io/l/BMyjKqM">Order Praṇāmarāmāyaṇam in English</a>
                        </div>
                        <div class="adhyayanam-inner">
                            <a href="https://rzp.io/l/cUq8s6gCX">Order Praṇāmarāmāyaṇam in Tamil</a>
                        </div>
                        <div class="adhyayanam-inner">
                            <a href="https://rzp.io/l/ewhH1V2">Pre-order Kumārasambhava with vidyāmādhavīya tīkā</a>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
</div>