<div class="grid primary">
      <div class="content primary">
        <div class="content-wrap">
          <div class="block header-block">
            <div class="headline-image">
              <div class="headline-image-screen">
                <div class="grid inner">
                <div id="features" class="block features-block">
                        <div class="about f1">
                        <div class="feature-image-screen"></div>
                        <div class="adhyayanam-inner">
                        <p>About Us</p>
                        <p>
                           We are a team of shaastra sevakas (humble servants of shaastra) who want to revive the didactic traditions of Bhaarata. We want to apply technology to this end so as to reach out to aspiring scholars.

Our team which is expanding by the day composes of people from various backgrounds.</p>

<p>
Shrivathsa. B - 
Is a student of Veda and Vedanta from Bengaluru, India. He has undergone traditional training in Rgveda, Samaveda and Vedanta. By training he is also a mechanical engineer.
</p>
<p>
Pooja. P - 
Is a passionate student of Kavya literature from Bengaluru, India. She is an accomplished software engineer.
</p>
<p>
Devaraja Adiga - 
A software engineer by training, Devaraja is pursuing his PhD from IIT Mumbai and is working on speech to text and text to speech technologies for Samskrtam.
</p>
<p>
Sathyawageeshwar Subrahmanian - 
An accomplished physicist with a deep appreciation for Samskrtam. Sathya is ann alumnus of IISc, Bengaluru and is about to finish his PhD in Physics from the University of Cambridge.
</p>
<p>
Rajaram Venkataramani - 
Is a software engineer by profession with a great commitment to the cause of gomaataa. He is trained in the Gaudiya tradition.
</p>
<p>
Ramakrishnan Suryanarayanan - 
A practising chartered accountant, Ramakrishnan is passionate about Samskritam, specially Kavya literature.
</p>
<p>
Shrihari Kutsa - 
Shrihari is the President of Bhargava Dhvajini, the organization that nourishes the Tiikaaloka project.
</p>
<p>
Ajay Pai - 
Is a student pursuing his PhD from IIT Delhi. His inputs have proven critical to speed up process of digitization of manuscripts.
   </p>                     </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
</div>