<div class="grid primary">
      <div class="content primary">
        <div class="content-wrap">
          <div class="block header-block">
            <div class="headline-image">
              <div class="headline-image-screen">
                <div class="grid inner">
                  <h1 class="primary-title">Tīkāloka | टीकालोक:</h1>
                  <h5 class="secondary-text">A new way to read the Bhāratīya vańmaya along with Tīkās</h5>
                  <a href="/#beliefs" class="header-link learn-more">Learn More</a>
                  <!--<a href="/#texts" class="header-link read-vergil">Read Ramayana</a>-->
                </div>
              </div>
            </div>
          </div>
          <div id="belief" class="block beliefs-block">
            <div class="grid inner">
              <h2 class="block-title left">Background </h2>
              <div class="little-line"></div>
              <p class="desc info-desc">Bhāratīya literature is the vastest in the world and it spans various subjects and various schools of thought. This forms our wisdom tradition and it is logically structured and designed to benefit even a lay reader.</p>
             </div>
          </div>
          <div id="about" class="block about-block">
            <div class="grid inner">
              <p class="desc about-desc">Any bhāṣya or ṭīkā in our tradition is a condensed form of wisdom of a paramparā the ṭīkākāra (author of the ṭīkā) belongs to. Our wisdom tradition has produced a great number of ṭīkās for all major and minor works. In fact it may not be an overstatement to say that the bhāṣya / ṭīkā literature surpasses original literature by volume. Ṭīkās allow us to really see the world from the points of view of great siddhas and satpuruṣas.</p>
            </div>
          </div>
          <div id="features" class="block features-block">
            <div class="feature f1">
              <div class="feature-image-screen"></div>
              <div class="feature-inner">
                <h3 class="feature-title">Need of the hour</h3>
                <div class="feature-line"></div><span class="feature-desc">Producing such enormous volume of work was possible in earlier days due to the fact that there was royal patronage to such endeavours. Lack of royal patronage has not only affected the production of such works, there is now a lack means of dissemination of such works.</span>
              </div>
            </div>
          </div>
          <div id="beliefs" class="block beliefs-block">
            <div class="grid inner">
              <h2 class="block-title left">Vision </h2>

              <div class="list-type3">
              <ul>
                <li><a href="#">To bring to the public - literature, Bhāṣya and Ṭīkās already in book or manuscript form as searchable text.</a></li>
                <li><a href="#">Help scholars republish works in manuscript form and thereby preserve them  online.</a></li>
                <li><a href="#">To publish translations of important works.</a></li>
                <li><a href="#">Bring out well annotated Ṭīkā and Bhāṣya texts for ease of learning.</a></li>
                <li><a href="#">To provide a platform where concordance can be established easily.</a></li>
                <li><a href="#">Help Sanskrit students of intermediate proficiency attain higher levels</a></li>
              </ul>
              </div>
          </div>
        </div>
    </div>
</div>