<header Ngxheadroom [options]="options" class="headroom--top">
<div class="side-menu">
  <div class="clearfix side-menu-head">
    <span class="fa fa-bars"></span>
    <span class="site-title">टीकालोक:</span>
  </div>
  </div>

<div class="social-wrap">
  <a href="https://github.com/tiikaaloka" target="_blank"><span class="fa fa-github"></span></a>
  <a href="https://twitter.com/RepublishB" target="_blank"><span class="fa fa-twitter"></span></a>
</div>
</header>

<div class="side-menu-panel">
  <ul class="nav-links">
    <!--<li class="search"><a href="/search"> <span class="fa fa-search"> </span>Search</a></li>-->
    <li><a href="/">Home </a></li>
    <!--<li><a href="http://docs.tiikaaloka.io" target="_blank">Docs </a></li>-->
    <li><a href="http://tiikaaloka.github.io" target="_blank">Updates</a></li>
    <li><a href="/donate">Donate</a></li>
    <li><a href="/about">About </a></li>
  </ul>
</div>